.navbar-brand {
  font-size: 20px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

.nav-link {
  font-size: 20px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

a:hover {
  color: darkred;
}

body {
  background-image: url(Images/emile-perron-xrVDYZRGdw4-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  font-family:'Courier New', Courier, monospace;
  background: linear-gradient()
}

.contact-container {
  color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contact-left-title h2 {
  font-weight: 600;
  color: white;
  font-size: 40px;
  margin-bottom: 5px;
}

.contact-left-title hr {
  border: none;
  width: 120px;
  height: 5px;
  background-color: darkred;
  border-radius: 10px;
  margin-bottom: 20px;
}

.contact-inputs {
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: black;
  border-radius: 50px;
}

.contact-left textarea {
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}

.contact-inputs:focus {
   border: 2px solid darkred;
}

contact-inputs::placeholder {
  color: darkred;
}

.contact-left button {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 50px;
  background: linear-gradient(90deg,black, darkred);
  cursor: pointer;
}

@media (max-width 800px) {
  .contact-inputs {
    width: 80vw;
  }
}

#hero-text {
  font-family:'Courier New', Courier, monospace;
  text-shadow: 2px 5px 5px black;
  padding-bottom: 900px;
}