.navbar-brand {
  font-size: 20px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

.nav-link {
  font-size: 20px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

a:hover {
  color: grey;
}

body {
  background-image: url(Images/emile-perron-xrVDYZRGdw4-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  font-family:'Courier New', Courier, monospace;
  background: linear-gradient()
}

.contact-container {
  color: white;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contact-left-title h2 {
  font-weight: 500;
  color: white;
  font-size: 40px;
  margin-bottom: 5px;
}

.contact-left-title hr {
  border: none;
  width: 120px;
  height: 5px;
  background-color: grey;
  border-radius: 10px;
  margin-bottom: 20px;
}

.contact-inputs {
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: black;
  border-radius: 50px;
}

.contact-left textarea {
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}

.contact-inputs:focus {
   border: 2px solid grey;
}

contact-inputs::placeholder {
  color: grey;
}

.contact-left button {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 50px;
  background: linear-gradient(90deg,black,grey);
  cursor: pointer;
}

#hero-text {
  font-family:'Courier New', Courier, monospace;
  text-shadow: 2px 5px 5px black;
}

.social a {
  color: white;
}

@media (max-width: 681px) {
  #socials {
    padding-top: 30px;
  }
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.flex-item {
  width: 50px;
  height: 5px;
}

.flex-container button {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 50px;
  background: linear-gradient(90deg,black, grey);
  cursor: pointer;
}

@media (max-width: 681px) {
  .contact-container {
    flex-direction: column;
    padding-top: none;
    padding-bottom: none;
    margin-bottom: none;
    margin-top: none;
    border-top: none;
    border-bottom: none;
  }
}

@media (max-width: 681px) {
  #contact-form {
    display: none; 
  }
}

@media (max-width: 681px) {
  #hero-text {
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
  }
}

#hero {
  margin-top: none;
  padding-top: none;
}

.portfolio #client-1 {
  background-image: url(Images/luke-miller-HnEmNix5nTc-unsplash.jpg);
  padding-top: calc(4.5 / 4 * 100%);
  background-size: cover;
  background-position: center;
  color: white;
}

.portfolio #client-2 {
  background-image: url(Images/luke-miller-RJKrjFEuCJ8-unsplash.jpg);
  padding-top: calc(4.5 / 4 * 100%);
  background-size: cover;
  background-position: center;
  color: white;
}

.text-box {
  color: white;
}

.text-secondary {
  color: white;
}

h1 {
  color: white;
}
#footer {
  color: white;
}

p {
  color: white;
}